@mixin shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset, rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset;
}
.loading {
  transition-property: all;
  transition-duration: .5s;
}

.loading.load-hide{
  transform: translate(0, -100%);
}

.collapsing {
  transition: height 0.0001s ease;
}

body {
  background-color: #EFEFEF !important;
  .loading {
    position: absolute;
    z-index: 10000;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 115px;
    font-size: 20px;
    border-radius: 0px 0px 3px 3px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-color: #e7e7e7;
    background-color: #fff;
    img{
      margin-right: 3px;
    }
  }

  .pagin {
    text-align: center;
    a {
      font-size: 15px !important;
    }
    
  }
}

@mixin content-block {
  @include shadow;
  background-color: #fff;
  border-radius: 3px;

  margin-bottom: 20px;


  .header {
    font-weight: 500;
    margin: 0px;
    padding: 15px 13px;
    border-bottom: solid 1px #DFDFDF;
    color: #666;
  }

  .body {
    margin: 15px;
    color: #000;
    font-size: 14px;

  }
}