@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: asset-url('assets/fonts/roboto-100.wof') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: asset-url('assets/fonts/roboto-300.wof')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: asset-url('assets/fonts/roboto-400.wof')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: asset-url('assets/fonts/roboto-500.wof')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: asset-url('assets/fonts/roboto-700.wof')  format('woff');
}