@import 'base';
.info-block {
  @include content-block;
  .body {
    padding: 18px;
  }

  &.create_post{
  	padding: 20px;
  	a{
  	  display: block;
  	  margin-left: auto;
  	  margin-right: auto;
  	}
  }
  
}

.popular-records {
  padding: 10px !important;
  .well {
    padding: 10px;
    margin-bottom: 5px;
  }
}